body{
    max-width: 450px;
    margin: 0 auto;
}

/*-------------------------Header-----------------------------*/

header{
    width: 100%;
    display: flex;
    position: relative;
}

.logo{
    width: 30%;
}

.logo .logoWeb{
    width: 100%;
    height: auto;
}

.buscador{
    width: 40%;
}
.buscador input{
    margin: 20px 0 0 35px;
}

.menu{
    width: 30%;
}

.menu .burguer{

}



/*-----------------------Hamburguesa(Menu)---------------------*/

.hamburger{
	position:relative;
    background-color:transparent;
	left:50px;
	top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
    background-color:none;
}
._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
}
.menuppal{
    display: none;
    background-color: #333333;
    bottom: 0;
    height: 400px;
    left: 0;
    position: absolute;
    top: 400px;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
    margin:0;padding:0;
}
.menuppal ul li { 
    list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:$nav-color-text;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
    color:#369;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
    text-decoration:none;
    color:#369;
}
.menuppal ul li a:hover{
    text-decoration:none;
    color:#333;
}

/*-------------------------Container-----------------------------*/

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}
#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}
#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}
#slider ul li img {
    width: 100%;
    height: 100%;
}
a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}
a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}
a.control_prev {
    border-radius: 0 2px 2px 0;
}
a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}



































/*-------------------Rutas programadas-----------------*/

#content{
    width: 100%;
    margin: 0 auto;
    background: url(img/fondo.jpg);
    font-family: cursive;
}
h1 {
    text-align: center;
}
.lugar, .estacion, .actividad, .transporte, .gastronomia {
    width: 380px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
}

.lugar{
    background: url("../img/llucmajor.png") no-repeat;
    background-size: cover;

}
.estacion{
    background: url("../img/verano.jpg") no-repeat;
    background-size: cover;
}
.actividad{
    background: url("../img/canoa.jpg") no-repeat;
    background-size: cover;
}
.transporte{
    background: url("../img/bus.jpg") no-repeat;
    background-size: cover;
}
.gastronomia{
    background: url("../img/gastronomia.jpg") no-repeat;
    background-size: cover;
}

.resultado{
    padding-top: 22px;
    color: black;
    font-size: 22px;
    font-weight: bold;
}


/*-------------------Barra de progreso---------------------*/

.progreso {
    text-align: center;
}

.progreso label{
    padding: 0 5px;
}

#five:checked ~ .progress > .progress-bar {
	width: 5%;
	background-color: #f34213;
}

#twentyfive:checked ~ .progress > .progress-bar {
	width: 25%;
	background-color: #f27011;
}

#fifty:checked ~ .progress > .progress-bar {
	width: 50%;
	background-color: #f2b01e;
}

#seventyfive:checked ~ .progress > .progress-bar {
	width: 75%;
	background-color: #f2d31b;
}

#onehundred:checked ~ .progress > .progress-bar {
	width: 100%;
	background-color: #86e01e;
}

.progress-bar {
    height: 24px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.container .progress {
    margin: 0 auto;
    width: 400px;
}

.progress {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

/*-----------------------------------------*/