@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Regular.otf') format("opentype");
}
@font-face {
    font-family: 'AleoBold';
    font-weight: bold;
    src: url('../fonts/Aleo-Regular.otf') format("opentype");
}
body{
    max-width: 450px;
    margin: 0 auto;
    font-family: 'Aleo';
}
/*-------------------------Header-----------------------------*/

header{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #EDE7F6;
}

.logo{
    width: 30%;
}

.logo .logoWeb{
    width: 100%;
    height: 75px;
}

.buscador{
    width: 40%;
}
.buscador input{
    margin: 20px 0 0 35px;
    border-radius: 10px;
}

.menu{
    width: 30%;
}

.menu .burguer{

}


/*-----------------------Hamburguesa(Menu)---------------------*/

.hamburger{
	position: relative;
    background-color: transparent;
	left: 75px;
	top: 0;
	height: 30px;
	width: 30px;
	padding: 20px 20px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index: 1002;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.hamburger.is-active{
    background-color:none;
}
._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}
.menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
}
.menuppal{
    display: none;
    background-color: aliceblue;
    bottom: 0;
    height: 420px;
    left: 0;
    position: absolute;
    top: 420px;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
    margin:0;padding:0;
}
.menuppal ul li {
    list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:$nav-color-text;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
    color:#369;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
    text-decoration:none;
    color:#369;
}
.menuppal ul li a:hover{
    text-decoration:none;
    color:#333;
}

/*-------------------------Container-----------------------------*/

#container{
    width: 100%;
    background-image: url('../img/fondo.jpg');
    margin-top: -25px;
}

/*-------------------------Slider----------------------*/

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}
#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}
#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 450px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}
#slider ul li img {
    width: 100%;
    height: 100%;
}
a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}
a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}
a.control_prev {
    border-radius: 0 2px 2px 0;
}
a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

/*---------------Texto informativo------------------*/

.texto{
    text-align: center;
    background-color: mistyrose;
    padding: 20px;
}
.texto h2{
    text-transform: uppercase;
}
.texto p{

}

/*-----------------------Opciones----------------------*/

.opciones{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.opciones a{
    width: 80%;
    text-decoration: none;
    color: black;
}
.opciones a li{
    list-style: none;
    width: 80%;
    height: 40px;
    background-color: royalblue;
    margin: 25px auto;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 5px;
}
.opciones a li:hover{
    padding: 15px;
}

/*--------------------------FOOTER--------------------------*/
footer{
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}

.copyright{
    width: 40%;
    float: left;
    margin-right: 45px;
}
.social{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 6px;
}
.social a{

}
.social a img{
    width: 30px;
    height: 30px;
    padding: 3px;
}
.social a img:hover{
    width: 35px;
    height: 35px;
}




/*--------------------------------------------------
------------------Rutas programadas-----------------
----------------------------------------------------*/

#content{
    width: 100%;
    margin: 0 auto;
    background: url(img/fondo.jpg);
    font-family: cursive;
}
h1 {
    text-align: center;
}
.fecha, .lugar, .estacion, .actividad, .transporte, .bg_gastronomia {
    width: 45%;
    text-align: center;
    float: left;
    margin: 10px;
}
.lugarProg, .estacionProg, .actividadProg, .transporteProg, .bg_gastronomiaProg,
.restauranteUno, .restauranteDos, .restauranteTres, .restauranteCuatro{
    width: 45%;
    height: 130px;
    text-align: center;
    float: left;
    margin: 10px;
    border-radius: 5px;
}

.lugarProg{
    background: url("../img/rutas/ciudades/llucmajor.jpg") no-repeat;
    background-size: cover;
}
.estacionProg{
    background: url("../img/rutas/estaciones/verano.jpg") no-repeat;
    background-size: cover;
}
.actividadProg{
    background: url("../img/rutas/deportes/tennis.jpg") no-repeat;
    background-size: cover;
}
.transporteProg{
    background: url("../img/rutas/transportes/autobus.jpg") no-repeat;
    background-size: cover;
}
.bg_gastronomiaProg{
    background: url("../img/rutas/gastronomia/illes.jpg") no-repeat;
    background-size: cover;
}

.resultado{
    padding-top: 22px;
    color: black;
    font-size: 22px;
    font-weight: bold;
}


/*-----------------------------------------------
-------------------RUTAS-------------------------
-----------------------------------------------*/

select{
    width: 100%;
    height: 130px;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-size: cover;
    font-size: 22px;
    color: #fff;
    padding-left: 30%;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(213, 215, 216);
}
select:hover{
    background-color: rgb(194, 196, 221);
}
select option{
    color: #000;
}


.btn-next{
    width: 100%;
    text-align: center;
    float: left;
    margin: 0 auto;
}

.btn-next button {
    padding: 20px;
    margin-top: 5%;
    background-color: rgb(0, 214, 0);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 95%;
}
.btn-next button:hover {
    background: rgb(0, 128, 0);
}


#datepicker {
    height: 125px;
    width: 95%;
    text-align: center;
    background-color: rgb(213, 215, 216);
    border-radius: 5px;
}

input[type="date" i],
input[type="month" i],
input[type="week" i]{
    font-size: 23px;
    color: #FFF;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*-----------------------------------------------
-------------------GASTRONOMIA-------------------
-----------------------------------------------*/

.restauranteUno{
    background: url("../img/rutas/gastronomia/balagan.jpg") no-repeat;
    background-size: cover;
}
.restauranteDos{
    background: url("../img/rutas/gastronomia/illes.jpg") no-repeat;
    background-size: cover;
}
.restauranteTres{
    background: url("../img/rutas/gastronomia/roqueta.jpg") no-repeat;
    background-size: cover;
}
.restauranteCuatro{
    background: url("../img/rutas/gastronomia/tercera.jpg") no-repeat;
    background-size: cover;
}

