<!DOCTYPE html>

<html lang="es">

<head>
    <title>Gastronomía</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
   <header>
        <div class="logo">
                <a href="index.html"><img class="logoWeb" src="../img/logo.png"></a>
            </div>
            <div class="buscador">
                <input type="search" placeholder="  Buscar...">
            </div>
            <div class="menu">
                <div class="hamburger">
                    <div class="_layer -top"></div>
                    <div class="_layer -mid"></div>
                    <div class="_layer -bottom"></div>
                </div>
                <nav class="menuppal">
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="#">Información general</a></li>
                        <li><a href="gastronomia.html">Gastronomia</a></li>
                        <li><a href="rutasProgramadas.html">Rutas programadas</a></li>
                        <li><a href="rutas.html">Configurar rutas</a></li>
                        <li><a href="#">Otros</a></li>
                    </ul>
                </nav>
            </div>
   </header>

   <div id="content">
        <h1>RESTAURANTES DISPONIBLES</h1>
            <div class="restaurantes">
                <div class="restauranteUno">
                    <p class="resultado"></p>
                </div>
                <div class="restauranteDos">
                    <p class="resultado">5illes</p>
                </div>
                <div class="restauranteTres">
                    <p class="resultado">Sa Roqueta</p>
                </div>
                <div class="restauranteCuatro">
                    <p class="resultado">Tercera</p>
                </div>
        </div>
    </div>
    <footer>
        <div class="copyright">
            <p>&copy; MALLLORCA PROMO</p>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/Mallorca-News-601424769951018/"><img src="../img/social/facebook.png"></a>
            <a href="https://www.instagram.com/mallorca/?hl=es"><img src="../img/social/instagram.png"></a>
            <a href="https://twitter.com/visit_mallorca"><img src="../img/social/twitter.png"></a>
            <a href="https://www.youtube.com/user/facebookhipho"><img src="../img/social/youtube.png"></a>
        </div>
    </footer>
</body>
</html>
