<!DOCTYPE html>

<html lang="es">

<head>
    <title>Rutas</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
   <header>
        <div class="logo">
                <a href="index.html"><img class="logoWeb" src="../img/logo.png"></a>
            </div>
            <div class="buscador">
                <input type="search" placeholder="  Buscar...">
            </div>
            <div class="menu">
                <div class="hamburger">
                    <div class="_layer -top"></div>
                    <div class="_layer -mid"></div>
                    <div class="_layer -bottom"></div>
                </div>
                <nav class="menuppal">
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="#">Información general</a></li>
                        <li><a href="#">Gastronomia</a></li>
                        <li><a href="rutasProgramadas.html">Rutas programadas</a></li>
                        <li><a href="#">Configurar rutas</a></li>
                        <li><a href="#">Otros</a></li>
                    </ul>
                </nav>
            </div>
   </header>

   <div id="content">
        <h1>RUTAS PROGRAMADAS</h1>
        <div class="rutas">
            <div class="fecha">
                <input type="date" id="datepicker" value="Fecha de inicio">
            </div>
            <div class="lugar">
                <select class="opcionesLugar">
                  <option value="cualquiera">Localidad</option>
                  <option value="palma">Palma</option>
                  <option value="llucmajor">Llucmajor</option>
                  <option value="inca">Inca</option>
                  <option value="arenal">Arenal</option>
                  <option value="pollensa">Pollença</option>
                  <option value="alcudia">Alcudia</option>
                  <option value="campos">Campos</option>
                  <option value="andratx">Andratx</option>
                </select>
            </div>
            <div class="estacion">
                <select class="opcionesEstacion">
                  <option value="cualquiera">Estación</option>
                  <option value="verano">Verano</option>
                  <option value="primavera">Primavera</option>
                  <option value="invierno">Invierno</option>
                  <option value="otono">Otoño</option>
                </select>
            </div>
            <div class="actividad">
                <select class="opcionesActividad">
                  <option value="cualquiera">Actividad</option>
                  <option value="baloncesto">Baloncesto</option>
                  <option value="futbol">Futbol</option>
                  <option value="golf">Golf</option>
                  <option value="tennis">Tennis</option>
                  <option value="padel">Pádel</option>
                </select>
            </div>
            <div class="transporte">
                <select class="opcionesTransporte">
                  <option value="cualquiera">Transporte</option>
                  <option value="autobus">Autobús</option>
                  <option value="taxi">Taxi</option>
                  <option value="coche">Coche</option>
                  <option value="bicicleta">Bicicleta</option>
                </select>
            </div>
            <div class="bg_gastronomia">
                <select class="opcionesGastronomia">
                  <option value="cualquiera">Gastronomia</option>
                  <option value="tercera">Sa Tercera</option>
                  <option value="balagan">Balagan</option>
                  <option value="illes">5illes</option>
                  <option value="roqueta">Sa Roqueta</option>
                </select>
            </div>
        </div>
        <div class="btn-next">
            <button id="submit" type="button">
                Finalizar
            </button>
        </div>
    </div>
    <footer>
        <div class="copyright">
            <p>&copy; MALLLORCA PROMO</p>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/Mallorca-News-601424769951018/"><img src="../img/social/facebook.png"></a>
            <a href="https://www.instagram.com/mallorca/?hl=es"><img src="../img/social/instagram.png"></a>
            <a href="https://twitter.com/visit_mallorca"><img src="../img/social/twitter.png"></a>
            <a href="https://www.youtube.com/user/facebookhipho"><img src="../img/social/youtube.png"></a>
        </div>
    </footer>
</body>
</html>
